
<h1>About me</h1>
<p>Hi I'm Camille Nibungco. This is my first Ruby on Rails app. Sorry that you can't see the pins or upload pictures. I don't currently have money to buy Amazon s3 webservices to host them. But for the time being check out my <a href=www.cnibungco.github.io>personal website</a>
</p>